<link type="text/css" rel="stylesheet" href="../../static/css/style.css" />
<header id="header" class="transparent-nav"style="background-color: #374050; opacity: 0.8;" >
  <div class="container" >
    <div class="row">
      <div class="navbar-header">
        <!-- Logo -->
        <div class="navbar-brand">

          <h2 style="color: white; font-family: 'Prompt';">UFU</h2>
        </div>
        <!-- /Logo -->

      </div>

      <!-- Navigation -->
      <nav id="nav">
        <ul class="main-menu nav navbar-nav navbar-right">
          <div class="row" style="position: absolute; right: 100px;">
            <li style="margin-left: 30px; margin-top: 20px;"><a href="/" style="font-family: 'Prompt';">Home</a></li>
            <li style="margin-left: 30px; margin-top: 20px;"><a href="/login" style="font-family: 'Prompt';">Sign In</a></li>
          </div>
        </ul>
      </nav>
      <!-- /Navigation -->

    </div>
  </div>
</header>
<!-- /Header -->