<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add</title>
</head>
<body>
    <form action="" method="POST">
        <input type="text" name="residentName">
        <input type="text" name="location">
        <input type="text" name="roomType">
        <input type="text" name="price">
        <input type="text" name="details">
        <input type="text" name="phoneConnect">
        <input type="text" name="OtherConnect">
    </form>
</body>
</html>