<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    
</style>



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js"></script>


<link type="text/css" rel="stylesheet" href="../../static/css/style.css" />
<!DOCTYPE html>
<html>
<header id="header" class="transparent-nav"style="background-color: #374050; opacity: 0.8;" >
  <div class="container" >
    <div class="row">
      <div class="navbar-header">
        <!-- Logo -->
        <div class="navbar-brand">
          
          <h2 style="color: white; font-family: 'Prompt'; ">UFU</h2>
        </div>
        <!-- /Logo -->

      </div>

      <!-- Navigation -->
      <nav id="nav">
        <ul class="main-menu nav navbar-nav navbar-right">
          {% if session.logged_in and session.permission == 'M' %}
          <div class="row" style="position: absolute; right: 100px;">
            <li style="margin-left: 30px; margin-top: 20px;"><a href="/" style="font-family: 'Prompt';">Home</a></li>
            <li style="margin-left: 30px; margin-top: 20px;"><a href="/" style="font-family: 'Prompt';">User {{session.firstName}} </a></li>
            <li style="margin-left: 30px; margin-top: 20px;"><a href="/logout" style="font-family: 'Prompt';">Sign Out</a></li>
          </div>
          {% elif session.logged_in and session.permission == 'A' %}
          <div class="row" style="position: absolute; right: 100px;">
            <li style="margin-left: 30px; margin-top: 20px;"><a href="/" style="font-family: 'Prompt';">Home</a></li>
            <li style="margin-left: 30px; margin-top: 20px;"><a href="/" style="font-family: 'Prompt';">Admin {{session.firstName}} </a></li>
            <li style="margin-left: 30px; margin-top: 20px;"><a href="/logout" style="font-family: 'Prompt';">Sign Out</a></li>
          </div>
          {% else %}
          <div class="row" >
            <li style="margin-left: 30px; margin-top: 20px; position: absolute; right: 200px;"><a href="/" style="font-family: 'Prompt';">Home</a></li>
            <li style="margin-left: 30px; margin-top: 20px; position: absolute; right: 100px; "><a href="/login" style="font-family: 'Prompt';">Sign In</a></li>
          </div>
          {% endif %}
        </ul>
      </nav>
      <!-- /Navigation -->

    </div>
  </div>
</header>
<!-- /Header -->
<br><br><br>
<div style="position: relative;">
<h1 style="position: absolute;
left: 900px;
top: 10px;"><i class='fas fa-tachometer-alt'></i> My Dashboard <small> Welcome {{session.firstName}}</small></h1>
<hr>
<div class="w3-row-padding w3-margin-bottom" >
    <div class="w3-quarter" style="position: absolute;
    left: 460px;
    top: 100px;
    width: 380px;"
    >
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>1</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>New Location</h4>
      </div>
    </div>
    <div class="w3-quarter" style="position: absolute;
    left: 847px;
    top: 100px;
    width: 380px;"
    >
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>3</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>New Command</h4>
      </div>
    </div>
    <div class="w3-quarter" style="position: absolute;
    left: 1235px;
    top: 100px;
    width: 380px;">
      <div class="w3-container w3-orange w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>4</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Users</h4>
        </div>
      </div>
    </div>

    <div class="container" style="position: absolute;
    left: 450px;
    top: 280px;">
    <div class="panel panel-info">
      <div class="panel-heading"><h2>Status Location</h2></div>
      <div class="panel-body">
        
      
      <div class="tab-content">
        <div id="Wait" class="tab-pane fade in active">
          <div class="tabs">
            <div class="tab-header">
              <div class="active">
                <i class="fa fa-code"></i> User
              </div>
              <div>
                <i class="fa fa-pencil-square-o"></i> Location
              </div>
              <div>
                <i class="fa fa-bar-chart"></i> Context
              </div>
              <div>
                <i class="fa fa-envelope-o"></i> Date
              </div>
            </div>
            <div class="tab-indicator"></div>
            <div class="tab-body">
              <div class="active">
                <br>
                <p>User</p>
              </div>
              <div>
                <br>
                <p>Location</p>
              </div>
              <div>
                <br>
                <p>context</p>
              </div>
              <div>
                <br>
                <p>date</p>
              </div>
              <br><br>
              <table id="table1" class="table table-striped table-bordered" style="width:100%">
                <thead>
                  <tr>
                    <th>Customer</th>
                    <th>Menu</th>
                    <th>Order_data</th>
                    <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a</td>
                    <td><a href="/upstatus/a" class="btn btn-success btn-xs" onclick="return confirm('คุณต้องการอัพสถานะให้เมนู a ของ a หรือไม่')">Next Status</a></td>
                  </tr>
              </tbody>
            </table>
            </div>
            <div id="Accept" class="tab-pane fade">
              <h3>Accept</h3>
              <table id="table2" class="table table-striped table-bordered" style="width:100%">
                <thead>
                  <tr>
                    <th>Customer</th>
                    <th>Menu</th>
                    <th>Order_data</th>
                    <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a</td>
                    <td><a href="/upstatus/a" class="btn btn-success btn-xs" onclick="return confirm('คุณต้องการอัพสถานะให้เมนู a ของ a หรือไม่')">Next Status</a></td>
                  </tr>
              </tbody>
            </table>
            </div>
            
          </div>
          <div id="Sending" class="tab-pane fade">
            <h3>Sending</h3>
            <table id="table3" class="table table-striped table-bordered" style="width:100%">
              <thead>
                <tr>
                  <th>Customer</th>
                  <th>Menu</th>
                  <th>Order_data</th>
                  <th>Address</th>
                  <th>price</th>
                  <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td>b</td>
                  <td>b</td>
                  <td>a</td>
                  <td>a</td>
                  <td>a</td>
                  <td><a href="/upstatus/a" class="btn btn-success btn-xs" onclick="return confirm('คุณต้องการอัพสถานะให้เมนู a ของ a หรือไม่')">Next Status</a></td>
                </tr>
            </tbody>
          </table>
          </div>
          <div id="completed" class="tab-pane fade">
            <h3>Completed</h3>
            <table id="table4" class="table table-striped table-bordered" style="width:100%">
              <thead>
                <tr>
                  <th>Customer</th>
                  <th>Menu</th>
                  <th>Order_data</th>
                  <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td>a</td>
                  <td>a</td>
                  <td>a</td>
                  <td><a href="/delete/a" class="btn btn-danger btn-xs" onclick="return confirm('คุณต้องการลบเมนู a ของ {a หรือไม่')">Delete</a></td>
                </tr>
            </tbody>
          </table>
          
          </div>
          <input id="myInput" type="text" placeholder="Search.." style="position: relative;
          top: -400px; width: 70%; left: 50;">
          
        </div>
        </div>
      </div>
      <div class="container" style="width: 1100px; position: relative;
      top: -250px;">
        <div class="panel panel-warning">
          <div class="panel-heading"><h2>Status Command</h2></div>
            <div class="panel-body">
            </div>
          </div>
        </div>
        
    </div>
    </div>
    
    
    </div> </div>

  <style>
    .tabs {
   position: relative;
   left: 20px;
    top: 10px;
  width:1050px;
  height:500px;
  background:#f5f5f5;
  padding:20px 30px;
  overflow:hidden;
  border-radius:50px;
  box-shadow:5px 10px 5px #ccc;
}
.tabs .tab-header {
  height:60px;
  display:flex;
  align-items:center;
}
.tabs .tab-header > div {
  width:calc(100% / 4);
  text-align:center;
  color:#888;
  font-weight:400;
  cursor:pointer;
  font-size:14px;
  text-transform:uppercase;
  outline:none;
}
.tabs .tab-header > div > i {
  display:block;
  margin-bottom:5px;
}
.tabs .tab-header > div.active {
  color:#00acee;
}
.tabs .tab-indicator {
  position:relative;
  width:calc(100% / 4);
  height:5px;
  background:#00acee;
  left:0px;
  border-radius:5px;
  transition:all 500ms ease-in-out;
}
.tabs .tab-body {
  position:relative;
  height:calc(100% - 60px);
  padding:10px 5px;
}
.tabs .tab-body > div {
  position:absolute;
  top:-200%;
  opacity:0;
  transform:scale(0.9);
  transition:opacity 500ms ease-in-out 0ms,
    transform 500ms ease-in-out 0ms;
}
.tabs .tab-body > div.active {
  top:0px;
  opacity:1;
  transform:scale(1);
}
  </style>

<script>
  let tabHeader = document.getElementsByClassName("tab-header")[0];
let tabIndicator = document.getElementsByClassName("tab-indicator")[0];
let tabBody = document.getElementsByClassName("tab-body")[0];

let tabsPane = tabHeader.getElementsByTagName("div");

for(let i=0;i<tabsPane.length;i++){
  tabsPane[i].addEventListener("click",function(){
    tabHeader.getElementsByClassName("active")[0].classList.remove("active");
    tabsPane[i].classList.add("active");
    tabBody.getElementsByClassName("active")[0].classList.remove("active");
    tabBody.getElementsByTagName("div")[i].classList.add("active");
    
    tabIndicator.style.left = `calc(calc(100% / 4) * ${i})`;
  });
}
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

 
</html>
