<!doctype html>
<html>
    <head>
        <title> ADD RESIDENT </title>
        <link rel="stylesheet" href="form_style.css">
    </head>
<body>
    <form action="/add" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="addformuser" value="1">
        <input type="text" name="residentName">
        <input type="text" name="lat">
        <input type="text" name="lng">
        <input type="text" name="roomType">
        <input type="text" name="price">
        <input type="text" name="details">
        <input type="text" name="phoneConnect">
        <input type="text" name="OtherConnect">
        <input type="text" name="air">
        <input type="text" name="fan">
        <input type="text" name="water_heater">
        <input type="text" name="furniture">
        <input type="text" name="cable_tv">
        <input type="text" name="phone_direct">
        <input type="text" name="internet">
        <input type="text" name="pet">
        <input type="text" name="smoking">
        <input type="text" name="parking">
        <input type="text" name="elevators">
        <input type="text" name="security">
        <input type="text" name="keycard">
        <input type="text" name="cctv">
        <input type="text" name="pool">
        <input type="text" name="fitness">
        <input type="text" name="laundry">
        <input type="text" name="hair_salon">
        <label for="image">Select a file:</label>
        <input type="file" id="image" name="image" ccept="image/x-png,image/gif,image/jpeg,image/jpg"><br><br>
        <input type="submit">
    </form>
</body>



                   