{% extends 'layout.html' %}
{% block style %}
<title>Add Residdent</title>

<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/checkout/">

<!-- Bootstrap core CSS -->
<link href="../static/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<!-- <link href="../static/css/form-validation.css" rel="stylesheet"> -->
<style>
    #map {
        height: 500px;
        width: 100%;
    }
</style>
{% endblock %}

{% block body %}
<script>
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
            myLatLng = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            };


        }, function () {
            handleLocationError(true, infoWindow, map.getCenter());
        });
    } else {
        // Browser doesn't support Geolocation
        handleLocationError(false, infoWindow, map.getCenter());
    }

    function initMap() {
        document.getElementById('lat').value = myLatLng.lat;
        document.getElementById('lng').value = myLatLng.lng;
        var map = new google.maps.Map(document.getElementById('map'), {
            center: myLatLng,
            zoom: 15,
            styles: [
                {
                    "featureType": "administrative",
                    "elementType": "geometry",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "administrative.land_parcel",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "labels",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                }
            ]

        });


        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'นี่ใช่ตำแหน่งร้านของคุณหรือไม่',
            animation: google.maps.Animation.DROP,
            draggable: true
        });

        google.maps.event.addListener(marker, 'dragend', function (marker) {
            var latLng = marker.latLng;
            document.getElementById('lat').value = latLng.lat();
            document.getElementById('lng').value = latLng.lng();
            var newL = new google.maps.LatLng(document.getElementById('lat').value = latLng.lat(), document.getElementById('lng').value = latLng.lng());
            map.panTo(newL);

        });

    }



</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJWuQmrf6UgrkGbMJF6-m1GwTZrazBFBo&callback=initMap"
    defer></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>


<body class="bg-light" style="margin-top: 50px;">

    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="../static/icons/add.svg" alt="" width="96" height="96">
            <div class="row">
                <h2>เพิ่มข้อมูล</h2>
            </div>

        </div>
        <!--  map -->
        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Maps</span>
                </h4>

                <div class="w3-card" id="map"></div>
            </div>
            {% if types == 'store'  %}
            <!-- add store -->
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">ร้านค้า</h4>
                <form action="/insert_location" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <input type="hidden" name="addformuser" value="{{ session.userId }}">
                        <input type="hidden" name="types" value="{{ types }}">
                        <div class="col-md-6 mb-3">
                            <label for="residentName">ชื่อ</label>
                            <input type="text" class="form-control" name="name" placeholder="" value="">
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="lat">พิกัด lat</label>
                            <input type="text" class="form-control" name="lat" id="lat" placeholder="">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lng">พิกัด lng</label>
                            <input type="text" class="form-control" name="lng" id="lng" placeholder="">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to
                                submit</button>
                        </div>
                    </div>

                </form>
            </div>
            {% endif %}
        </div>

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; DSSI Dev Team</p>
            <!-- <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul> -->
        </footer>
    </div>

</body>

</html>

<div id='preloader'>
    <div class='preloader'></div>
</div>

<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
{% endblock %}