
{% extends 'layout.html' %}
{% block style %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Raleway", sans-serif
  }
</style>



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js"></script>


<link type="text/css" rel="stylesheet" href="../../static/css/style.css" />

{% endblock %}
<!DOCTYPE html>
<html>
<header id="header" class="transparent-nav" style="background-color: #374050; opacity: 0.8;">
  <div class="container">
    <!-- <div class="row">
      <div class="navbar-header">
   
        <div class="navbar-brand">

          <h2 style="color: white; font-family: 'Prompt'; ">UFU</h2>
        </div>

      </div>
      <nav id="nav">
        <ul class="main-menu nav navbar-nav navbar-right">
          {% if session.logged_in and session.permission == 'M' %}
          <div class="row" style="position: absolute; right: 100px;">
            <li style="margin-left: 30px; margin-top: 20px;"><a href="/" style="font-family: 'Prompt';">Home</a></li>
            <li style="margin-left: 30px; margin-top: 20px;"><a href="/" style="font-family: 'Prompt';">User
                {{session.firstName}} </a></li>
            <li style="margin-left: 30px; margin-top: 20px;"><a href="/logout" style="font-family: 'Prompt';">Sign
                Out</a></li>
          </div>
          {% elif session.logged_in and session.permission == 'A' %}
          <div class="row" style="position: absolute; right: 100px;">
            <li style="margin-left: 30px; margin-top: 20px;"><a href="/" style="font-family: 'Prompt';">Home</a></li>
            <li style="margin-left: 30px; margin-top: 20px;"><a href="/" style="font-family: 'Prompt';">Admin
                {{session.firstName}} </a></li>
            <li style="margin-left: 30px; margin-top: 20px;"><a href="/logout" style="font-family: 'Prompt';">Sign
                Out</a></li>
          </div>
          {% else %}
          <div class="row">
            <li style="margin-left: 30px; margin-top: 20px; position: absolute; right: 200px;"><a href="/"
                style="font-family: 'Prompt';">Home</a></li>
            <li style="margin-left: 30px; margin-top: 20px; position: absolute; right: 100px; "><a href="/login"
                style="font-family: 'Prompt';">Sign In</a></li>
          </div>
          {% endif %}
        </ul>
      </nav>
    </div> -->
  </div>
</header>
<!-- /Header -->
<br><br><br>
{% block body %}
<div style="position: relative; text-align: center; margin-top: 100px;">
  <h1><i class='fas fa-tachometer-alt'></i> My Dashboard <small> Welcome {{session.firstName}}</small></h1>
  <hr>
  <div class="w3-row-padding w3-margin-bottom" style="text-align: center; margin-left: 20%;">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{total_residents}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Total Residents</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{total_comments}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Total Comments</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{total_users}}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Total Users</h4>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2>Status Location</h2>
      </div>
      <div class="panel-body">


        <div class="tab-content">
          <div id="Wait" class="tab-pane fade in active">
            <div class="tabs">
              <div class="tab-header">
                <div class="active">
                  <i class="fa fa-code"></i> User
                </div>
                <div>
                  <i class="fa fa-pencil-square-o"></i> Residents
                </div>
                <div>
                  <i class="fa fa-bar-chart"></i> Others
                </div>
                <div>
                  <i class="fa fa-envelope-o"></i> Reviews
                </div>
              </div>
              <div class="tab-indicator"></div>
              <div class="tab-body">
                <div class="active" style="margin-left: 8%;">
                  <br>
                  <p>User</p>
                  <table id="table1" class="table table-striped table-bordered" style="width:800px; height: 100%;">
                    <thead>
                      <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>email</th>
                        <th>action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in members%}
                      <tr>
                        <td>{{i.userId}}</td>
                        <td>{{i.firstName}} {{i.lastName}}</td>
                        <td>{{i.email}}</td>
                        <td><a href="/admin" class="btn btn-danger btn-xs"
                            onclick="return confirm('คุณต้องการลบข้อมูลหรือไม่')">Delete</a></td>
                      </tr>
                      {%endfor%}
                    </tbody>
                  </table>
                </div>
                <div style="margin-left: 8%;">
                  <br>
                  <p>Residents</p>
                  <table id="table2" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                      <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>lat lng</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in residents%}
                      <tr>
                        <td>{{i.residentId}}</td>
                        <td>{{i.residentName}}</td>
                        <td>{{i.lat}} {{i.lng}}</td>
                        <td><a href="/admin" class="btn btn-success btn-xs"
                            onclick="return confirm('คุณต้องการยืนยันหรือไม่')">Accept</a></td>
                      </tr>
                      {%endfor%}
                    </tbody>
                  </table>

                </div>
                <div style="margin-left: 8%;">
                  <br>
                  <p>Others</p>
                  <table id="table3" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                      <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>lat lng</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in all%}
                      <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.lat}} {{i.lng}}</td>
                        <td><a href="/admin" class="btn btn-success btn-xs"
                            onclick="return confirm('คุณต้องการยืนยันหรือไม่')">Accept</a></td>
                      </tr>
                      {%endfor%}
                    </tbody>
                  </table>
                </div>
                <div style="margin-left: 8%;">
                  <br>
                  <p>Reviews</p>
                  <table id="table3" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                      <tr>
                        <th>id</th>
                        <th>userId</th>
                        <th>ResidentId</th>
                        <th>Comments</th>
                        <th>Ratings</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in reviews%}
                      <tr>
                        <td>{{i.reviewId}}</td>
                        <td>{{i.userId}}</td>
                        <td>{{i.residentId}}</td>
                        <td>{{i.comments}}</td>
                        <td>{{i.rating}}</td>
                        <td><a href="/admin" class="btn btn-danger btn-xs"
                            onclick="return confirm('คุณต้องการยืนยันหรือไม่')">Delete</a></td>
                      </tr>
                      {%endfor%}
                    </tbody>
                  </table>
                </div>


              </div>


            </div>


          </div>
        </div>
      </div>

    </div>
  </div>

</div>
</div>

<style>
  .tabs {
    position: relative;
    left: 20px;
    top: 10px;
    width: 1050px;
    height: 500px;
    background: #f5f5f5;
    padding: 20px 30px;
    overflow: hidden;
    border-radius: 50px;
    box-shadow: 5px 10px 5px #ccc;
  }

  .tabs .tab-header {
    height: 60px;
    display: flex;
    align-items: center;
  }

  .tabs .tab-header>div {
    width: calc(100% / 4);
    text-align: center;
    color: #888;
    font-weight: 400;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
  }

  .tabs .tab-header>div>i {
    display: block;
    margin-bottom: 5px;
  }

  .tabs .tab-header>div.active {
    color: #00acee;
  }

  .tabs .tab-indicator {
    position: relative;
    width: calc(100% / 4);
    height: 5px;
    background: #00acee;
    left: 0px;
    border-radius: 5px;
    transition: all 500ms ease-in-out;
  }

  .tabs .tab-body {
    position: relative;
    height: calc(100% - 60px);
    padding: 10px 5px;
  }

  .tabs .tab-body>div {
    position: absolute;
    top: -200%;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 500ms ease-in-out 0ms,
      transform 500ms ease-in-out 0ms;
  }

  .tabs .tab-body>div.active {
    top: 0px;
    opacity: 1;
    transform: scale(1);
  }
</style>

<script>
  let tabHeader = document.getElementsByClassName("tab-header")[0];
  let tabIndicator = document.getElementsByClassName("tab-indicator")[0];
  let tabBody = document.getElementsByClassName("tab-body")[0];

  let tabsPane = tabHeader.getElementsByTagName("div");

  for (let i = 0; i < tabsPane.length; i++) {
    tabsPane[i].addEventListener("click", function () {
      tabHeader.getElementsByClassName("active")[0].classList.remove("active");
      tabsPane[i].classList.add("active");
      tabBody.getElementsByClassName("active")[0].classList.remove("active");
      tabBody.getElementsByTagName("div")[i].classList.add("active");

      tabIndicator.style.left = `calc(calc(100% / 4) * ${i})`;
    });
  }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $("#myInput").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>


</html>
{% endblock %}