{% extends 'layout.html' %}

{% block body %}
<br><br><br>
    <h1>Setting</h1>
    {% for datas in data %}
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">อัพเดทข้อมูลของท่าน</h4>
            </div>
            <div class="modal-body">
              <form action="/update" method="POST">
                <div class="form-group">
                  <label>firstName:</label>
                  <input type="text" class="form-control" name="firstName" value="{{datas.firstName}}">
                </div>
                <div class="form-group">
                  <label>lastName:</label>
                  <input type="text" class="form-control" name="lastName" value="{{datas.lastName}}">
                </div>
                <div class="form-group">
                  <label>email:</label>
                  <input type="text" class="form-control" name="email" value="{{datas.email}}">
                </div>
                <div class="form-group">
                  <button class="btn btn-primary" type="submit">อัพเดท</button>
                </div>
              </form>
            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div> -->
          </div>
    {% endfor %}        
        </div><br><br><br><br><br><br><br>
{% endblock %}